.legend {
  list-style: none;
}

.legend li {
  float: left;
  margin-right: 10px;
}

.legend span {
  border: 1px solid #ccc;
  float: left;
  width: 12px;
  height: 12px;
  margin: 2px;
}

.properlyserved {
  background-color: #979B9599;
  background-color: #979B95;
}

.transitdessert {
  background-color: #b22f0799;
  background-color: #b22f07;
}

.transitoasis {
  background-color: #63A50099;
  background-color: #63A500;
}

div#googft-mapCanvas {
  margin-top: 1%;
  margin-bottom: 1%;
}
